/*body {
    width: 960px;
    padding: 5px;
    font-family: 'Slabo 27px', Helvetica, Corbel, Arial, Times, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: white;*/

.jumbotron {
    /* add bootstrap jumbotron background image */
    background: url("../img/SNA.svg") no-repeat center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* change bootstrap jumbotron text color */
    color: #ffffff;
}

.push-spaces {
    height: 100%;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}

.btn-group {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#map {
    height: 370px;
    background-color: #ffffff;
}